.page {
  padding: 40px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.btn {
  background-color: rgb(87, 23, 177);
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 16px;
  border: none;
  border-radius: 5px;
}


.btn:active {
  background-color: white;
}

.btnDis {
  background-color: rgb(57, 57, 57);
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 16px;
  border: none;
  border-radius: 5px;
}